{{!-- {{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show notifications-success" role="alert">
    {{ success_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="notifications-message">&times;</span>
    </button>
</div>
{{/if}}
{{#if error_msg}}
<div class="alert alert-warning alert-dismissible fade show notifications-warning" role="alert">
    {{ error_msg }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="notifications-message">&times;</span>
    </button>
</div>
{{/if}}
{{#if errors.message}}
<div class="alert alert-warning alert-dismissible fade show notifications-warning" role="alert">
    {{ errors.message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="notifications-message">&times;</span>
    </button>
</div>
{{/if}} --}}


{{#if success_msg}}
<section class="notification" style="background-color:#45df40; padding: 1%; border-radius: 6px; width: 50%; margin: 0 auto; margin-top: 5%;">
    <p style="text-align: center; font-style: italic; font-size: 18px;"> {{success_msg}} </p>
</section>
{{/if}}

{{#if error_msg}}
<section class="notification" style="background-color:#f03636; padding: 1%; border-radius: 6px; width: 50%; margin: 0 auto; margin-top: 5%;">
    <p style="text-align: center; font-style: italic; font-size: 18px;"> {{error_msg}} </p>
</section>
{{/if}}

{{#if errors.message}}
<section class="notification" style="background-color:#f03636; padding: 1%; border-radius: 6px; width: 50%; margin: 0 auto; margin-top: 5%;">
    <p style="text-align: center; font-style: italic; font-size: 18px;"> {{errors.message}} </p>
</section>
{{/if}}